@model ApplicationCore.Models.InteractionPageViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Clients</h1>
    <ul class="list-group list-group-flush">
        @foreach (var client in Model.header.clientDropDown)
        {
        <li class="list-group-item">

            <i style="font-size: x-large;">@client.Name</i>
            <br />
            <i>Email: @client.Email</i>
            <br />
            <I>Phone Number: @client.Phones</I>
            <br />
            <a href="http://localhost:44300/interaction" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">@client.Name's Interaction</a>
        </li>
        }
    </ul>


</div>
